/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration-color: #f72210;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.top-nav {
  background-color: #f72210;
}

.time {
  color: #fff;
}

.login {
  color: #fff;
}

.login:hover {
  color: #fff;
}

.subscribe {
  background-color: #ff0;
  border-radius: 25px;
  transform: scale(0.8);
  color: #000;
}

.subscribe:hover {
  color: #000;
}

.nav-head button {
  height: 20px;
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px;
}

.hidden-user {
  color: #fff;
}

.nav-head img {
  width: 120px;
}

.middle-nav,
.bottom-nav {
  border-bottom: rgb(190, 190, 190) solid 1px;
}

.middle-nav a {
  color: black;
  border-right: rgb(190, 190, 190) solid 1px;
}

#last-link,
#last-link2,
#last-opinion,
#last-opinion-2 {
  border: none;
}

.search-nav {
  border: none;
  width: 60px;
}

.bottom-nav a {
  color: rgb(97, 93, 93);
}

.footer img {
  width: 236px;
}

.social-media a {
  color: rgb(102, 102, 102);
}

.footer-2 a {
  font-size: 14px;
  color: rgb(109, 109, 109);
  border-right: rgb(190, 190, 190) solid 1px;
}

.red-span a {
  color: #f72210;
}

.culture-container a {
  color: rgb(119, 119, 119);
}

.social-media a:hover {
  color: rgb(0, 132, 255);
}

.middle-nav a:hover,
.bottom-nav a:hover {
  text-decoration: none;
  color: #f72210;
}

.footer-1 {
  border-bottom: rgb(190, 190, 190) solid 1px;
  border-top: rgb(236, 236, 236) solid 1px;
}

.top-footer-text {
  font-size: 12px;
  color: rgb(109, 109, 109);
}

.footer-2 a:hover {
  color: #000;
  text-decoration: none;
}

.turn-link {
  font-size: 17px;
}

.turn-link a:hover {
  color: #000;
  text-decoration-color: #f72210;
}

.turn-container {
  border-top: rgb(231, 231, 231) solid 1px;
}

/*
    ==============================================
                ****** MILESTONE 2 MAIN ******
    ==============================================
*/

.debate-article {
  border-top: rgb(231, 231, 231) solid 2px;
}

.opinion-article {
  border-bottom: rgb(231, 231, 231) solid 2px;
}

hr {
  width: 45%;
}

.right-text-con {
  border: rgb(231, 231, 231) solid 1px;
}

.top-text {
  color: rgb(253, 0, 0);
}

.top-text a:hover {
  text-decoration: none;
}

.culture-container a:hover {
  text-decoration: none;
}

.fa-bars {
  color: #fff;
}

.debate-text {
  color: rgb(70, 70, 70);
  font-weight: 900;
  font-size: 15px;
}

/*
    ==============================================
                ****** MILESTONE 3 MAIN ******
    ==============================================
*/

.small-con,
.big-con {
  border-bottom: rgb(190, 190, 190) solid 1px;
}

.top-text-bottom {
  color: #f42;
}

.top-text-bottom:hover {
  text-decoration: none;
  color: #f42;
}

.magazine-icon {
  color: #fff;
  background-color: #f72210;
}

#all-features {
  background-color: #ccc;
}

#all-features:hover {
  background-color: rgb(128, 118, 118);
  text-decoration: none;
}

.red-span a:hover {
  text-decoration: none;
}

.zine-heading {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.book2 {
  top: 70px;
  left: 80px;
}

.left-con-bottom {
  background-color: rgb(233, 230, 230);
}

.left-bottom-bg {
  background: url(assets/newsletter.png);
  background-size: 100% 100%;
  min-height: 200px;
}

.text-con-border {
  border-bottom: rgb(190, 190, 190) solid 1px;
  border-top: rgb(190, 190, 190) solid 1px;
  border-right: rgb(190, 190, 190) solid 1px;
}

.bttn {
  background-color: #f72210;
  color: #fff;
}

.bttn:hover {
  color: #fff;
}

.books {
  min-height: 150px;
  min-width: 100px;
}

/* MEDIA QUERY FOR LARGE */
@media only screen and (min-width: 768px) {
  .fa-bars {
    transform: scale(1.5);
  }
}

@media only screen and (min-width: 992px) {
  .nav-head img {
    width: 396px;
  }

  .nav-head button {
    height: 30px;
  }

  .social {
    transform: scale(2);
  }

  .subscribe {
    transform: scale(1);
  }
}
