/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.top-nav {
  background-color: #f72210;
}

.time {
  color: #fff;
}

.login {
  color: #fff;
}

.subscribe {
  background-color: #ff0;
  border-radius: 25px;
}

.nav-head button {
  height: 20px;
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px;
}

.hidden-user {
  color: #fff;
}

.nav-head img {
  width: 120px;
}

.middle-nav,
.bottom-nav {
  border-bottom: rgb(190, 190, 190) solid 1px;
}

.middle-nav a {
  color: black;
  border-right: rgb(190, 190, 190) solid 1px;
}

.last-link {
  border: none !important;
}

.search-nav {
  border: none;
  width: 60px;
}

.bottom-nav a {
  color: rgb(97, 93, 93);
}

.middle-nav a:hover,
.bottom-nav a:hover {
  text-decoration: none;
  color: #f72210;
}

/* MEDIA QUERY FOR LARGE */
@media only screen and (min-width: 768px) {
  .fa-bars {
    transform: scale(1.5);
  }
}

@media only screen and (min-width: 992px) {
  .nav-head img {
    width: 396px;
  }

  .nav-head button {
    height: 30px;
  }
}
